{{template "base/head" .}}
<div class="home">
	<div class="ui stackable middle very relaxed page grid">
		<div class="sixteen wide center aligned centered column">
			<div>
				<img class="logo" src="{{AppSubUrl}}/img/gitea-lg.png" />
			</div>
			<div class="hero">
				<h1 class="ui icon header title">
					Let's Code, Decentralized!
				</h1>
				<h2>Login with GitHub or
          <br>Register a new account to contribute.</h2>
			</div>
		</div>
	</div>
  <div class="ui stackable middle very relaxed page grid">
    <div class="eight wide center column">
      <h1 class="hero ui icon header">
        <i class="octicon octicon-git-branch"></i> Hurrah for Gitea!
      </h1>
      <p class="large">
        I'm using Gitea, which is likely to become the first decentralized git platform.
        Help support decentralization by <a target="_blank" href="https://git.coolaj86.com/coolaj86/gitea-installer.sh">installing gitea</a> for yourself!
      </p>
    </div>
    <div class="eight wide center column">
      <h1 class="hero ui icon header">
        <i class="octicon octicon-circuit-board"></i> Hurrah for RPi!
      </h1>
      <p class="large">
        Home servers are the only thing that can save us from our centralized overlords.
        Gitea can run on a Raspberry Pi.
      </p>
    </div>
  </div>
  <div class="ui stackable middle very relaxed page grid">
    <div class="eight wide center column">
      <h1 class="hero ui icon header">
        <i class="octicon octicon-mail"></i> For Neo-Luddites
      </h1>
      <p class="large">
        Email was the web's first decentralized and distributed protocol.
        It may be old news, but its paradigms are the best hope for our futures.
        If we don't take back the web soon then GitHub, Facebook, Slack, Medium, etc will dictate our futures for us.
      </p>
    </div>
    <div class="eight wide center column">
      <h1 class="hero ui icon header">
        <i class="octicon octicon-code"></i> Lv. 99 Code Whisperers Welcome
      </h1>
      <p class="large">
        If you love code more than build tools, we'll make fast friends. :)
      </p>
    </div>
    <!-- should have one more of the above -->
  </div>
  <!-- the above may be repeated -->
</div>
{{template "base/footer" .}}
